RewriteEngine On

# If we receive a forwarded http request from a proxy...
RewriteCond %{HTTP:X-Forwarded-Proto} =http [OR]

# ...or just a plain old http request directly from the client
RewriteCond %{HTTP:X-Forwarded-Proto} =""
RewriteCond %{HTTPS} !=on

# Redirect to https version
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Put the rest of your rewrite rules here
<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteRule ^/?$ home.html [NC,L]
  RewriteRule ^/Cadastro/Pessoa?$ CadastroPessoa.html [NC,L]
  RewriteRule ^/Cadastro/Produto?$ CadastroProduto.html [NC,L]
  RewriteRule ^/Consulta/Compra?$ ConsultarCompra.html [NC,L]
  RewriteRule ^/Consulta/Saldos?$ ConsultarSaldos.html [NC,L]
  RewriteRule ^/todas-em-uma?$ AllInOne.html [NC,L]

</IfModule>
